*{
    margin: 0;
    padding: 0;
    /* outline: solid 2px red; */
}
body{
    font-family: Helvetica, Arial, sans-serif;
}

hr {
    opacity: 0.3;
}

section {
    display: flex;
    align-items: center;
    height: 100px;
    margin: 5px 20px 0px 20px;
    justify-content: space-between;
    
}

.button_addhouse {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background-color: #3498db00;
    color: #000000;

    cursor: pointer;
    border-radius: 15px;
    transition: 0.5s;
}

.button_addhouse:hover {
    background-color: #c2b8b845;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    transition: 0.5s;

}

.login:hover {
    box-shadow: 0px 2px 1px 1px rgba(147, 146, 146, 0.336);
}




.box_logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 1vw;
    cursor: pointer;
    
}


.delete_background_logo {
    border: none;
    background-color: #00000000;
    cursor: pointer;
}

.logo_principal_pag {
    width: 6vw;
}

.box_search {
    background-color: white;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 40px;
    border:solid 1px rgba(0, 0, 0, 0.195);
    border-radius: 25px;
    cursor: pointer;
}

.box_search {
    margin-top: 45px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box_search:hover {
    box-shadow: 0px 2px 1px 1px rgba(147, 146, 146, 0.336);
}

.text_search_img {
    background-color: rgb(255, 0, 0);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
}

.text_search_img img {
    width: 25px;
    height: 25px;
}

.symbol_web {
    width: 15px;
    height: 15px;
    border: none;
    background-color: #00000000;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 100%;
}

.symbol_web:hover {
    box-shadow: 1px 1px 10px 5px rgba(22,22,22,0.21);
}

.add_house {
    width: 10vw;

}

.box_login {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.icono_login {
    width: 1vw;
}

.login {
    width: 4.5vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    background-color: #00000000;
    border-color: #00000016;
}


.text_search {
    border: none;
    background-color: #3498db00;
    color: #000000;
    cursor: pointer;
}

.text_search_bold {
    border: none;
    background-color: #3498db00;
    color: #000000;
    cursor: pointer;
}

.linea-vertical {
    border-left: 1px solid #0000002f; 
    height: 20px; 
}



