*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.nav_icon img{
    width: 3vw;
    height: 6vh;
    margin: 1vh 2vw;
    opacity: 50%;
}
.arrow_btn img{
    width: 2vw;
    height: 4vh;
    margin-left: 6px;
    margin-right: 1vh;
    margin-top: ;
}
.arrow_btn:hover{
    cursor: pointer;
}
.nav_btn{
    margin: 1vh 2vw;
    display: flex;
    align-items: center;
    padding: 10px 6px;
    margin-left: 6px;
    background: transparent;
    border: 1px solid rgba(77, 75, 75, 0.406);
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}
.nav_btn img{
    width: 1.5vw;
    height: 3vh;
}
.nav_btn:hover{
    cursor: pointer;
}